body {
    padding-top: 70px; /* Adjust if the navbar height changes */
}

.navbar {
    transition: box-shadow 0.3s ease-in-out;
}

.navbar.scrolled {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}


#about {
    background-color: #f8f9fa;
}

#contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #333;
    color: white;
}
